.cartitem-container {
    display: flex;
    margin-bottom: 30px;
}

.cartitem-container .heading {
    margin-left: 10px;
}

.cartitem-container .svg-inline--fa {
    height: unset;
}

.cartitem-container img {
    width: 33vw;
    height: 33vw;
}

.cartitem-container .content {
    margin-left: 10px;
}

.cartitem-container .content .price {
    /* font-weight: regular; */
    font-size: 20px;
    margin: 0 0 0 10px;
}

.cartitem-container .content .name {
    font-weight: lighter;
    font-size: 16px;
    margin: 10px 0 0 10px;
}

@media only screen and (min-width: 600px) {
    .cartitem-container img {
        width: 200px;
        height: 200px;
    }
  }