.checkoutform-container .section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkoutform-container .section .heading {
    margin-bottom: 12px;
}

.checkoutform-container .section input, .checkoutform-container .section .dropdown {
    border-radius: 10px;
    border: 0.5px solid #6F6E6E;
    margin-bottom: 10px;
    padding: 13px 10px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.checkoutform-container .dropdown-section .inner-dropdown {
    border: none;
}

.checkoutform-container .section .dropdown {
    padding: 5px 5px !important;
}

.checkoutform-container .section input::placeholder, .checkoutform-container .dropdown-section .inner-dropdown {
    color: #6F6E6E;
    font-weight: lighter;
}

.checkoutform-container .section .inline input, .checkoutform-container .section .dropdown {
    width: 100%;
}

.checkoutform-container .dropdown-section .inner-dropdown {
    width: 90%;
    margin-right: 0;
}

.checkoutform-container .section .inline input:not(:last-child), .checkoutform-container .section .dropdown {
    margin-right: 10px;
}


.checkoutform-container .dropdown-section {
    display: flex
}

.checkoutform-container .dropdown-section input {
    width: 30%;
}

.checkoutform-container button {
    margin: 30px 10px 15px;
    padding: 10px 30px;
    width: calc(100% - 10px);
    font-weight: medium;
    font-size: 18px;
    border: 1px solid #202020;
}

.checkoutform-container .checkbox {
    display: flex;
}