.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;
}

.home-container .text {
    font-weight: bold;
    font-size: 24px;
}